# Top-most EditorConfig file
root = true

[*.{kt,kts}]

max_line_length = off

ktlint_code_style = android_studio

ktlint_standard_annotation = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_comment-wrapping = disabled
ktlint_standard_enum-wrapping = disabled
ktlint_standard_final-newline = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_multiline-if-else = disabled
ktlint_standard_no-empty-first-line-in-method-block = disabled
ktlint_standard_no-semi = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_package-name = disabled
ktlint_standard_spacing-between-declarations-with-annotations = disabled
ktlint_standard_statement-wrapping = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_value-argument-comment = disabled
ktlint_standard_wrapping = disabled
ktlint_filename = disabled
ktlint_disabled_rules=package-name